body{
    background-color: #191970;
    background-repeat: no-repeat;
    background-size: 100%; 
    background-attachment: fixed;
    /*background-color: #000;*/
} 
body {
    font-family: Raleway,sans-serif;
    font-size: 1em;
    color: #666
}
#ft-perfil {
    display: block;
    margin: 0 auto;    
    padding-top: 150px; 
   
    /* configuração da foto do perfil*/
}
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 1px;
    /* configração dos links dos icones*/   
}
a {
    text-decoration: none;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10px;
    font-weight: bolder;
    /* configuração do link com meu nome abaixo da foto*/    
}
a:hover{
    color: #fff;
    padding: 10px;
    text-decoration: underline ;
    transition: .4s;
    /* movimento dos icones e link*/
}
p {
    text-align: center;
    font-weight: bolder;
    /* Config. da frase entre linhas*/
  }