body {
    background-color: #191970;
    background-repeat: no-repeat;
    background-size: 100%; 
    background-attachment: fixed;
    
} 
body {
    font-family: Raleway,sans-serif;
    font-size: 1em;
    color: #666
}
#ft-perfil {
    display: block;
    margin: 0 auto;    
    padding-top: 10px; 
    border-radius: 50%; 
    /* configuração da foto do perfil*/
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  } 


a {
    text-decoration: none;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-weight: bolder;
    /* configuração do link com meu nome abaixo da foto*/    
}
a:hover {
    color: #fff;
    padding: 10px;
    text-decoration: underline ;
    transition: .4s;
    /* movimento dos icones e link*/
}
p {
    text-align: center;
    font-weight: bolder;
    /* Config. da frase entre linhas*/
}